#GettingStarted {
    background-color: #93ccc2;
    height: 100vh;
}

#GettingStartedComponent {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    max-width: 80%;
    gap: 150px;
}

#GettingStartedComponent #bodyText {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-weight:350;
    gap:100px;
    color: #F9fbf6
}

#GettingStartedComponent #bodyText #link1 {
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #000000;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#GettingStartedComponent #bodyText #link1:hover {
  color: white;
}

#GettingStartedComponent #bodyText #link2 {
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #000000;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#GettingStartedComponent #bodyText #link2:hover {

    color: white;
}

#GettingStartedComponent #icons {
    display: flex;
    flex-direction: row;
    gap:100px;
}