#Home {
    background-image: url("cool-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#Logo img[src="/logo.png"] {

    max-width: 100%;
    max-height: 300px;

}

#Home .HomeComponent #Logo {
    position: relative;
    align-items: center;
}

#Home .HomeComponent #Lighthouse {
    position: relative;
    font-size: 7rem;
    font-weight: bold;
    color: black;
}


#Home .HomeComponent #OpenSourceKafka {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    justify-content: center;
    font-size: 5rem;
    left: 20%;
}