#Team {
    background-color: #000000;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aliceblue
}

#Team #TeamComponent {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 50px;
    
}

#Team #TeamComponent #TheTeam {
    display: flex;
    flex-direction: row;
    font-size: 100%;
    gap: 100px;
    justify-content: center;
}





/* Profile Images */
#zaw img[src="/zaw.png"] {
    max-height: 300px;
    max-width: 300px;
    height: 10vw;
    width: 100%;
    clip-path: circle();
}

#brandon img[src="/brandon.jpg"] {
    max-height: 300px;
    max-width: 300px;
    height: 10vw;
    width: 100%;
    clip-path: circle();
}

#andy img[src="/andy.jpg"] {
    max-height: 300px;
    max-width: 300px;
    height: 10vw;
    width: 100%;
    clip-path: circle();
}

#christian img[src="/christian.jpeg"] {
    max-height: 300px;
    max-width: 300px;
    height: 10vw;
    width: 100%;
    clip-path: circle();
}













#Team #TeamComponent #TheTeam #zaw {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

}

#Team #TeamComponent #TheTeam #brandon {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

#Team #TeamComponent #TheTeam #christian {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

#Team #TeamComponent #TheTeam #andy {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}




















/* ICONS */


#Team #TeamComponent #icons {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

#icons img[src="/Apollo.png"] {
    cursor: pointer;
    max-height: 200px;
    width: 100%;
    height: 10vw;
}

#icons img[src="/Apollo.png"]:hover {
    transform: scale(1.1);
    transition: all 300ms;
}

#icons img[src="/kafka.jpg"] {
    cursor: pointer;
    max-height: 200px;
    width: 100%;
    height: 10vw;

}

#icons img[src="/kafka.jpg"]:hover {
    transform: scale(1.1);
    transition: all 300ms;
}

#icons img[src="/Nextjs.png"] {
    cursor: pointer;
    max-height: 200px;
    width: 100%;
    height: 10vw;
}

#icons img[src="/Nextjs.png"]:hover {
    transform: scale(1.1);
    transition: all 300ms;
}

#icons img[src="/prometheus.png"] {
    cursor: pointer;
    max-height: 200px;
    width: 100%;
    height: 10vw;
}

#icons img[src="/prometheus.png"]:hover {
    transform: scale(1.1);
    transition: all 300ms;
}

#icons img[src="/GraphQL.png"] {
    cursor: pointer;
    max-height: 200px;
    width: 100%;
    height: 10vw;
}

#icons img[src="/GraphQL.png"]:hover {
    transform: scale(1.1);
    transition: all 300ms;
}

#closingmessage {
    font-size: 20px;
}







/* LINKEDIN AND GITHUB ICON */

#zaw img[src="/github.png"] {
    padding-right: 30px;
    cursor: pointer;
    width: 100%;
    height: 4vw;
}

#zaw img[src="/github.png"]:hover {
    transform: scale(1.1);
    transition: all 300ms;
}

#zaw img[src="/linkedin.png"] {
    width: 100%;
    height: 4vw;
    max-width: fit-content;
    cursor: pointer;
}

#zaw img[src="/linkedin.png"]:hover {
    transform: scale(1.1);
    transition: all 300ms;
}





#brandon img[src="/github.png"] {
    width: 100%;
    height: 4vw;
    padding-right: 30px;
    cursor: pointer;
}

#brandon img[src="/linkedin.png"] {
    width: 100%;
    height: 4vw;
    max-width: fit-content;
    cursor: pointer;
}

#brandon img[src="/github.png"]:hover {
    transform: scale(1.1);
    transition: all 300ms;
}

#brandon img[src="/linkedin.png"]:hover {
    transform: scale(1.1);
    transition: all 300ms;
}






#christian img[src="/github.png"] {
    width: 100%;
    height: 4vw;
    padding-right: 30px;
    cursor: pointer;
}

#christian img[src="/linkedin.png"] {
    width: 100%;
    height: 4vw;
    cursor: pointer;
}

#christian img[src="/github.png"]:hover {
    transform: scale(1.1);
    transition: all 300ms;
}

#christian img[src="/linkedin.png"]:hover {
    transform: scale(1.1);
    transition: all 300ms;
}






#andy img[src="/github.png"] {
    width: 100%;
    height: 4vw;
    padding-right: 30px;
    cursor: pointer;
}

#andy img[src="/linkedin.png"] {
    width: 100%;
    height: 4vw;
    cursor: pointer;
}

#andy img[src="/github.png"]:hover {
    transform: scale(1.1);
    transition: all 300ms;
}

#andy img[src="/linkedin.png"]:hover {
    transform: scale(1.1);
    transition: all 300ms;
}