#Team {
    background-color: #000000;
    height: 100vh;
    justify-content: center;
}

#Team #TeamComponent {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-weight: bold;
    position: absolute;
    gap:50px;
    align-items: center;
    bottom:2%
}

#Team #TeamComponent #TheTeam {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    gap: 100px;
    justify-content: center;
}







/* Profile Images */
#zaw img[src="/zaw.png"] {
    height: 300px;
    clip-path: circle();
}

#brandon img[src="/brandon.jpg"] {
    height: 300px;
    clip-path: circle();
}

#andy img[src="/andy.jpg"] {
    height: 300px;
    clip-path: circle();
}

#christian img[src="/christian.jpeg"] {
    height: 300px;
    clip-path: circle();
}













#Team #TeamComponent #TheTeam #zaw {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    gap: 30px;
    align-items: center;
}

#Team #TeamComponent #TheTeam #brandon {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    gap: 30px;
    align-items: center;
}

#Team #TeamComponent #TheTeam #christian {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    gap: 30px;
    align-items: center;
}

#Team #TeamComponent #TheTeam #andy {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    gap: 30px;
    align-items: center;
}




















/* ICONS */


#Team #TeamComponent #icons {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

#icons img[src="/Apollo.png"] {
    cursor: pointer;
    max-height: 200px;
    max-width: 100%;
}

#icons img[src="/Apollo.png"]:hover{
    transform: scale(1.1);
    transition: all 300ms;
}

#icons img[src="/kafka.jpg"] {
    cursor: pointer;
    max-height: 200px;
    max-width: 100%;
}

#icons img[src="/kafka.jpg"]:hover{
    transform: scale(1.1);
    transition: all 300ms;
}

#icons img[src="/Nextjs.png"] {
    cursor: pointer;
    max-height: 200px;
    max-width: 100%;
}

#icons img[src="/Nextjs.png"]:hover{
    transform: scale(1.1);
    transition: all 300ms;
}

#icons img[src="/prometheus.png"] {
    cursor: pointer;
    max-height: 200px;
    max-width: 100%;
}

#icons img[src="/prometheus.png"]:hover{
    transform: scale(1.1);
    transition: all 300ms;
}

#icons img[src="/GraphQL.png"] {
    cursor: pointer;
    max-height: 200px;
    max-width: 100%;
}

#icons img[src="/GraphQL.png"]:hover{
    transform: scale(1.1);
    transition: all 300ms;
}

#closingmessage {
    font-size: 20px;
}







/* LINKEDIN AND GITHUB ICON */

#zaw img[src="/github.png"] {
    height: 100px;
    max-width: fit-content;
    padding-right: 30px;
    cursor: pointer;
}

#zaw img[src="/github.png"]:hover{
    transform: scale(1.1);
    transition: all 300ms;
}

#zaw img[src="/linkedin.png"] {
    height: 100px;
    max-width: fit-content;
    cursor: pointer;
}

#zaw img[src="/linkedin.png"]:hover{
    transform: scale(1.1);
    transition: all 300ms;
}





#brandon img[src="/github.png"] {
    height: 100px;
    max-width: fit-content;
    padding-right: 30px;
    cursor: pointer;
}

#brandon img[src="/linkedin.png"] {
    height: 100px;
    max-width: fit-content;
    cursor: pointer;
}

#brandon img[src="/github.png"]:hover{
    transform: scale(1.1);
    transition: all 300ms;
}

#brandon img[src="/linkedin.png"]:hover{
    transform: scale(1.1);
    transition: all 300ms;
}






#christian img[src="/github.png"] {
    height: 100px;
    max-width: fit-content;
    padding-right: 30px;
    cursor: pointer;
}

#christian img[src="/linkedin.png"] {
    height: 100px;
    max-width: fit-content;
    cursor: pointer;
}

#christian img[src="/github.png"]:hover{
    transform: scale(1.1);
    transition: all 300ms;
}

#christian img[src="/linkedin.png"]:hover{
    transform: scale(1.1);
    transition: all 300ms;
}






#andy img[src="/github.png"] {
    height: 100px;
    max-width: fit-content;
    padding-right: 30px;
    cursor: pointer;
}

#andy img[src="/linkedin.png"] {
    height: 100px;
    max-width: fit-content;
    cursor: pointer;
}

#andy img[src="/github.png"]:hover{
    transform: scale(1.1);
    transition: all 300ms;
}

#andy img[src="/linkedin.png"]:hover{
    transform: scale(1.1);
    transition: all 300ms;
}